*.iml
/LabManual/.gradle
/LabManual/local.properties
/LabManual/.idea/caches
/LabManual/.idea/libraries
/LabManual/.idea/modules.xml
/LabManual/.idea/workspace.xml
/LabManual/.idea/navEditor.xml
/LabManual/.idea/assetWizardSettings.xml
/LabManual/.DS_Store
/LabManual/build
/LabManual/captures
/LabManual/.externalNativeBuild
/LabManual/.cxx
/LabManual/local.properties

/ClassActivity1/.gradle
/ClassActivity1/local.properties
/ClassActivity1/.idea/caches
/ClassActivity1/.idea/libraries
/ClassActivity1/.idea/modules.xml
/ClassActivity1/.idea/workspace.xml
/ClassActivity1/.idea/navEditor.xml
/ClassActivity1/.idea/assetWizardSettings.xml
/ClassActivity1/.DS_Store
/ClassActivity1/build
/ClassActivity1/captures
/ClassActivity1/.externalNativeBuild
/ClassActivity1/.cxx
/ClassActivity1/local.properties
